@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

header {
    width: 100%;
    padding: 10px 0px;
    background-color: #fff;
}

.limita-secao {
    max-width: 1024px;
    margin: 0 auto;
}

.logo img {
    width: 30px;
    margin: 10px;
}

.logo {
    display: flex;
    align-items: center;
    color: #5d15d1;
    font-size: 24px;
    font-weight: 600;
}

.solicitacao img {
    width: 30px;
    margin: 4px;
    rotate: -45deg;
}

.formulario {
    background-color: #fff;
}

.solicitacao {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 6px;
    background-color: #5d15d1;
    color: #fff;
}

.banner {
    background-image: url(../imagens/bahia.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    padding-top: 50px;
}

.informe-form {
    margin: 15px 15px;
    display: flex;
    flex-direction: column;
}

.informe-form h2 {
    padding: 20px 0px;
    font-size: 22px;
    font-weight: 700;
}

.info {
    display: flex;
    flex-direction: column;
}

.info input {
    margin: 10px 0px;
    padding: 5px;
}

.info02 {
    display: flex;
    justify-content: space-between;
}

.fff,
.ooo {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.ooo {
    margin-left: 10px;
}

input,
select {
    padding: 5px 0px;
}

.quarto h3 {
    font-size: 16px;
    padding: 10px 0;
}

.quarto-sn {
    max-width: 190px;
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}

.quarto-sn label {
    margin-left: 5px;
}

.hospedagem h3 {
    font-size: 16px;
    padding: 10px 0;
}

.hospedagem-check {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin-bottom: 20px;
}

.hospedagem label {
    margin-left: 5px;
}

.botao {
    padding: 10px 15px;
    margin: 0px 0px 15px 10px;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    background-color: hsl(263, 82%, 45%);
    border: none;
}

.botao:hover {
    color: #fff;
    background-color: hsl(262, 39%, 62%);
    transition: .7s;
}

.explore h4 {
    padding: 14px 0px;
    font-weight: 700;
    font-size: 18px;
}

.explore p {
    padding-bottom: 14px;
}

.valor {
    font-weight: 700;
}

.cor-fundo {
    background-color: #d1d0d0;
    padding: 40px;
}

.ofertas {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rio {
    max-width: 49%;
    height: 100%;
}

.rio img {
    width: 100%;
}

.img-4 img {
    width: 100%;
    height: 100%;
}

.img-4 figure {
    width: 245px;
    height: 184px;
}

.img-4 {
    display: flex;
    flex-wrap: wrap;
    max-width: 49%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.rio figure,
.img-4 figure {
    position: relative;
}

.rio figcaption,
.img-4 figcaption {
    position: absolute;
    left: 0;
    bottom: 2px;
    font-weight: 600;
    color: #fff;
    background-color: rgb(8, 8, 8, .5);
    width: 100%;
}

.natureza figure {
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.natureza {
    display: flex;
    justify-content: space-between;
}

.natureza figcaption {
    font-weight: 700;
}

footer {
    background-color: #5d15d1;
}

.rodape {
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
    color: #fff;
}

.rodape nav h5{
    font-size: 18px;
    padding: 5px 0px;
}

.rodape ul {
    list-style: none;
}

.rodape li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.rodape li img {
    width: 30px;
    padding: 6px 0;
    margin-right: 10px;
}

@media (max-width:425px) {
    .ofertas {
        justify-content: center;
    }

    .informe-form h2,
    h3 {
        text-align: center;
    }

    .quarto-sn {
        max-width: 100%;
        justify-content: space-around;
    }

    .box-botao {
        padding-top: 10px;
        display: flex;
        justify-content: center;
    }

    .rodape{
        padding: 40px 0px;
        margin: 0px 30px;
    }
}

@media(max-width:775px) {
    .img-4 figure {
        height: 300px;
    }

    .rio figure img {
        height: 300px;
    }
    .rodape{
        flex-direction: column;
        max-width: 375px;
    }
    .rodape nav{
        padding: 15px;
    }
}

@media(max-width:1102px) {

    .cor-fundo,
    .banner {
        padding: 40px 30px 0px;
    }

    .rio {
        max-width: 100%;
    }

    .rio figure img {
        max-width: 100%;
        height: 500px;
    }

    .ofertas,
    .natureza {
        flex-direction: column;
        width: 100%;
        gap: 20px 0px;

    }

    .ofertas figcaption {
        font-size: 22px;
    }

    .img-4 {
        flex-direction: column;
        max-width: 100%;
        gap: 20px 0;
    }

    .img-4 figure {
        width: 100%;
        height: 400px;
    }

    .img-4 img {
        width: 100%;
    }

    .explore {
        padding: 80px 0px 5px;
    }

    .natureza figure {
        width: 100%;
    }

    .natureza figure img {
        height: 400px;
    }

    .rodape{
        padding:40px 30px;
    }
}